// COLORS
$primary-color: #2C3E50;
$secondary-color: #FD746C;

$white-color: #114357;

$dark-grey: #333333;
$light-grey: #d2d2d2;

$dark-blue-text: #F29492; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
